DB_HOST=host or IP address of your database server or container name if using Docker
DB_PORT=port number of your database server (default is 3306 for MySQL)
DB_NAME=name of your database
DB_USER=username to connect to your database
DB_PASSWORD=